<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
  <div class="row">
  <% @products.each do |product| %>
     <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <%= product.name %>
        <%= product.description %>
        <%= product.image_url %>
        <%= product.colour %>
        <%= product.price %>
      </div> 
    <% end %> 
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>